<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.admin.mapper.LangMapper">

    <select id="selectTextOne" resultType="com.md.admin.entity.Lang">
        select *
        from md_lang
        where gt_lang = #{lang}
        limit 1
    </select>


</mapper>
