<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.admin.mapper.NewsMapper">

    <select id="selectTextOne" resultType="com.md.admin.entity.News">
        select *
        from md_news
        where lang = #{lang} and type = #{type}
        limit 1
    </select>

    <select id="selectAll" resultType="com.md.admin.web.vo.NewsVO">
        select *
        from md_news
        where lang in ("zh-CN", "en")
    </select>
</mapper>
